// response
.response
    button(class="btn-close-modal" data-modal-close)
        svg.svg-close
            use(href="./img/spriteSvg.svg#svg-close")
    .response__img
        img(src="./img/response-img.webp" alt="logo" width="145" height="252")
    .response__title Ваш запрос отправлен!
    .response__text Спасибо за интерес к Manzana Sport. Мы свяжемся с Вами в течение 24 часов.