.header {
    position: fixed;
    z-index: 99;
    left: 0;
    width: 100%;
    padding-top: 37px;
    background-color: var(--prime-color);

    @media (max-width: 1023px) {
        padding-top: 20px;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 90px;
    border-radius: 10px;
    background-color: var(--color-white);

    @media (max-width: 1400px) {
        padding-inline: 30px;
    }

    @media (max-width: 1230px) {
        padding: 15px 15px 15px 10px;
    }
}

.header__logo {
    flex-shrink: 0;
    width: 328px;
    height: 53px;

    @media (max-width: 1599px) {
        width: remy(328);
        height: remy(53);
    }

    @media (max-width: 1023px) {
        width: 168px;
        height: 27px;
    }
}

header.mobile .header__inner {
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

header.mobile .header__inner .logo {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
}

header.mobile .header__inner .menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
}

.nav {
    @media (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1.11px solid #000;
    }
}

.nav__list {
    display: flex;
    column-gap: 44px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-transform: capitalize;

    a {
        transition: 0.3s ease-in;
    }

    a:hover, a:active {
        color: var(--color-grey);
    }

    @media (max-width: 1599px) {
        font-size: remy(20);
        column-gap: remy(44);
    }

    @media (max-width: 1300px) {
        font-size: 15px;
    }

    @media (max-width: 1023px) {
        flex-direction: column;
        row-gap: 13px;
        line-height: 2;
    }
}

.header__contacts {
    display: none;
    margin-bottom: 30px;

    @media (max-width: 1023px) {
        display: block;
        padding-top: 15px;
    }
}

.header__contacts li {
    span {
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.67;
        text-transform: capitalize;
        color: #696969;
    }

    .header__contacts-tel {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.33;
        color: var(--prime-color);
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    .header__contacts-mail {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.33;
        color: var(--prime-color);
    }
}

.header__contacts li + li {
    margin-top: 20px;
}

.header__btn {
    margin-left: 112px;

    @media (max-width: 1023px) {
        margin-bottom: 25px;
        margin-left: 0;
    }
}

.overlay {
    display: none;
  }

.overlay.active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}


