.platfrom {
    padding-top: 36px;
    padding-bottom: 75px;
    background-color: var(--prime-color);
}

.platform-content {
    // overflow: hidden;
    position: relative;
    // background-image: url('../img/platform/platform-bg.webp');
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: contain;
}

.platform__logo {
    margin-bottom: 5px;
    width: 523px;
    height: 129px;

    @media (max-width: 1599px) {
        margin-bottom: remy(5);
        width: remy(523);
        height: remy(129);
    }

    @media (max-width: 767px) {
        margin-inline: auto;
        margin-bottom: 20px;
        width: 335px;
        height: 82px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.platform__title {
    margin-bottom: 15px;
    width: 45.6%;

    @media (max-width: 1599px) {
        margin-bottom: remy(15);
    }

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.platform__subtitle {
    margin-bottom: 45px;
    width: 37%;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.32;
    color: var(--color-white);

    @media (max-width: 1599px) {
        margin-bottom: remy(45);
        font-size: remy(25);
    }

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-bottom: 259px;
        font-size: 15px;
        line-height: 1.4;
    }
}

.platform__btn {
    // padding-bottom: 75px;

    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.platform__img {
    position: absolute;
    right: -88px;
    bottom: -77px;
    width: 906px;
    height: 563px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media (max-width: 1599px) {
        right: remy(-88);
        bottom: remy(-77);
        width: remy(906);
        height: remy(563);
    }

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-bottom: 259px;
        font-size: 15px;
        line-height: 1.4;
    }
}