.platfrom {
    padding-top: 36px;
    padding-bottom: 75px;
    background-color: var(--prime-color);

    @media (max-width: 1720px) {
        overflow: hidden;
   }

    @media (max-width: 1599px) {
        padding-top: remy(36);
        padding-bottom: remy(75);
    }

    @media (max-width: 767px) {
        padding-block: 30px;
    }
}

.platform-content {
    position: relative;

}

.platform__logo {
    margin-bottom: 5px;
    width: 523px;
    height: 129px;

    @media (max-width: 1599px) {
        margin-bottom: remy(5);
        width: remy(523);
        height: remy(129);
    }

    @media (max-width: 767px) {
        margin-inline: auto;
        margin-bottom: 20px;
        width: 335px;
        height: 82px;
    }

    @media (max-width: 374px) {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.platform__title {
    margin-bottom: 15px;
    width: 45.6%;

    @media (max-width: 1599px) {
        margin-bottom: remy(15);
    }

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.platform__subtitle {
    margin-bottom: 45px;
    width: 37%;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.32;
    color: var(--color-white);

    @media (max-width: 1599px) {
        margin-bottom: remy(45);
        font-size: remy(25);
    }

    @media (max-width: 767px) {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 1.4;
    }
}

.platform__btn {
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.platform__images {
    width: 906px;
    height: 563px;
    position: absolute;
    right: -73px;
    bottom: -76px;


    .platform__bg {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .platform__decor {
        position: absolute;
        z-index: 1;
        right: -86px;
        bottom: -62px;
        width: 900px;
        height: 600px;

        @media (max-width: 1599px) {
            right: remy(-86);
            bottom: remy(-62);
            width: remy(900);
            height: remy(600);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 1599px) {
        width: remy(906);
        height: remy(563);
        right: remy(-73);
        bottom: remy(-76);
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.platform__img-mob {
    display: none;

    @media (max-width: 767px) {
        display: block;
        width: 375px;
        margin: 0 auto;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
}