.principles {
    padding-top: 50px;
    background: var(--prime-color);
}

.principles-top {
    display: flex;
    justify-content: space-between;
}

.principles__subtitle {
    p {
        font-weight: 500;
        font-size: 25px;
        line-height: 1.28;
        color: var(--color-white);
    }
}