.line-slider {
    background: #fe3f44;
}

.line-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.8;
    text-transform: uppercase;
    color: var(--color-white);

    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.slick-initialized .line-slide.slick-slide {
    padding-inline: 28px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        padding-inline: 15px;
        height: 40px;
    }
}
