// ABOUT
section.about
    .container
        .about-content
            // ABOUT TITLE
            h2.about__title Кто мы
            // ABOUT CARDS
            .about-wrapper
                // about-card
                .about-card
                    img(src="./img/intersect.svg" width="32" height="32").about-card__img
                    p.about-card__text #[span Полностью российская сертифицированная компания,] предоставляющая продукт c гибкой технической архитектурой решения: on-premise и SaaS
                // about-card
                .about-card
                    img(src="./img/intersect.svg" width="32" height="32").about-card__img
                    p.about-card__text #[span 20 лет на рынке] бизнес-консалтинга и более 300 внедрённых систем управления программами лояльности в спорте, сфере развлечений и рознице
                // about-card
                .about-card
                    img(src="./img/intersect.svg" width="32" height="32").about-card__img
                    p.about-card__text Более #[span 250 штатных экспертов] с многолетним опытом работы в продуктовом IT, бренд-менеджменте, digital маркетинге, event-менеджменте, маркетинговых и PR-коммуникациях