// advantages
section.advantages
    .container
        .advantages-content
            .advantages__title
                h2.section-title В чем наша сила
            .advantages-cards
                //advantage-card
                .advantage-card
                    .advantage-card__wrapper
                        .advantage-card__num 1
                        .advantage-card__text #[span Нам доверяют лучшие:] <br> ТОП-клубы РПЛ, обладающие более 80% клиентских данных в российском спорте, уже используют решение Manzana для работы со своими болельщиками
                    .advantage-card__img
                        img(src="./img/advantages/star.webp" srcset="./img/advantages/star@2x.webp 2x" alt="star" width="428" height="440")
                //advantage-card
                .advantage-card
                    .advantage-card__wrapper
                        .advantage-card__num 2
                        .advantage-card__text #[span Мы непрерывно инвестируем в развитие продукта]  и предлагаем адаптивные CDP-решения, интегрированные с основными билетными системами, СКУД, eComm-платформами, провайдерами коммуникаций и другими игроками Sport tech рынка России
                    .advantage-card__img
                        img(src="./img/advantages/donuts.webp" srcset="./img/advantages/donuts@2x.webp 2x" alt="donuts" width="481" height="493")
                //advantage-card
                .advantage-card
                    .advantage-card__wrapper
                        .advantage-card__num 3
                        .advantage-card__text #[span Заботимся о безопасности:] <br> мы разрабатываем отказоустойчивые решения, обеспечивающие сохранность персональных данных, следим за соответствием нормативным требованиям ФЗ 152 и сертификации по стандарту PCI DSS и регулярно проводим аудит разворачиваемых систем
                    .advantage-card__img
                        img(src="./img/advantages/spring.webp" srcset="./img/advantages/spring@2x.webp 2x" alt="donuts" width="632" height="547")


