// CATALOG
section.catalog
    .container
        // CATALOG TITLE
        .catalog__title
            h2.section-title Каталог интеграций
            .accent-subtitle с ключевыми игроками спортивной индустрии
        // CATALOG LIST
        .catalog-list
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title Билетные системы
                // HIDDEN
                .catalog-list__content.loock
                    .catalog-list__text
                        p Интеграция в части моментального процессинга транзакций с применением скидок в зависимости от статуса участия в программе лояльности, наличия купонов и промокодов.
                    .catalog-list__logos
                        .catalog-list__logo
                            .img-wrapper
                                .catalog-list__img
                                    img(src="./img/catalog/qtickets.svg" alt="logo" width="43" height="52")
                            span QTickets
                        .catalog-list__logo
                            .catalog-list__img
                                img(src="./img/catalog/infotech.svg" alt="logo" width="115" height="15")
                            span Инфотех
                        .catalog-list__logo
                            .catalog-list__img
                                img(src="./img/catalog/informatics.svg" alt="logo" width="187" height="15")
                            span Информатика
                        .catalog-list__logo
                            .catalog-list__img
                                img(src="./img/catalog/isd.svg" alt="logo" width="63" height="55")
                            span ISD
                        .catalog-list__logo
                            .catalog-list__img
                                img(src="./img/catalog/tickets.svg" alt="logo" width="54" height="54")
                            span Яндекс Билеты

