// CATALOG
section.catalog
    .container
        // CATALOG TITLE
        .catalog__title
            h2.section-title Каталог интеграций
            .accent-subtitle с ключевыми игроками спортивной индустрии
        // CATALOG LIST
        .catalog-list
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title Билетные системы
                // HIDDEN
                .catalog-list__content
                    .catalog-list__wrapper
                        .catalog-list__text
                            p Интеграция в части моментального процессинга транзакций с применением скидок в зависимости от статуса участия в программе лояльности, наличия купонов и промокодов.
                        .catalog-list__logos
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/qtickets.svg" alt="logo" width="43" height="52")
                                span QTickets
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/infotech.svg" alt="logo" width="115" height="15")
                                span Инфотех
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/informatics.svg" alt="logo" width="187" height="15")
                                span Информатика
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/isd.svg" alt="logo" width="63" height="55")
                                span ISD
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/tickets.svg" alt="logo" width="54" height="54")
                                span Яндекс Билеты
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title SMS и email-провайдеры
                // HIDDEN
                .catalog-list__content
                    .catalog-list__wrapper
                        .catalog-list__text
                            p Интеграция в части реализации автоматизированных маркетинговых email и SMS-рассылок и транзакционных сообщений с возможностью сбора подробной статистики отклика на коммуникации.
                        .catalog-list__logos.gap30
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/sendsay.svg" alt="logo" width="51" height="58")
                                span Sendsay
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/devino.svg" alt="logo" width="51" height="51")
                                span Devino Telecom
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/terasms.svg" alt="logo" width="61" height="54")
                                span Terasms
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title POS-терминалы
                // HIDDEN
                .catalog-list__content
                    .catalog-list__wrapper
                        .catalog-list__text
                            p Интеграция в части онлайн обработки чеков с применением персональных скидок, начислением и списанием бонусов в соответствии с настройками в CRM-системе и маркетинговыми акциями.
                        .catalog-list__logos
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/atol.svg" alt="logo" width="88" height="25")
                                span ATOL
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/r-keeper.svg" alt="logo" width="107" height="24")
                                span r_keeper
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/evotor.svg" alt="logo" width="54" height="54")
                                span Эвотор
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/1c.svg" alt="logo" width="110" height="54")
                                span 1С:Розница
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/frontol6.svg" alt="logo" width="130" height="20")
                                span Фронтол
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/iiko.svg" alt="logo" width="39" height="54")
                                span IIKO
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title ERP-системы
                // HIDDEN
                .catalog-list__content
                    .catalog-list__wrapper
                        .catalog-list__text
                            p Интеграция в части синхронизации продуктовых каталогов, списка торговых точек, касс и контроля за складскими запасами.
                        .catalog-list__logos.gap50
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/mderp.svg" alt="logo" width="40" height="54")
                                span Microsoft Dynamics ERP
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/1c.svg" alt="logo" width="110" height="54")
                                span 1C:УТ
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/1c-bitrix.svg" alt="logo" width="95" height="58")
                                span Битрикс24
            // CATALOG LIST ITEM
            .catalog-list__item
                .catalog-list__header(data-name="accordeon-title")
                   h3.catalog-list__title СКУД-решения
                // HIDDEN
                .catalog-list__content
                    .catalog-list__wrapper
                        .catalog-list__text
                            p Интеграция в части получения детализированной информации о факте посещения матчей по билетам и абонементам, времени и места прохода на стадион.
                        .catalog-list__logos.gap50
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/skidata.svg" alt="logo" width="163" height="38")
                                span SKIDATA
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/isd.svg" alt="logo" width="63" height="55")
                                span ISD
                            .catalog-list__logo
                                .catalog-list__img
                                    img(src="./img/catalog/gorgona.svg" alt="logo" width="62" height="60")
                                span Горгона-М

