// FOOTER
.footer
    .container
        .footer-top
            .footer-top-wrapper
                .footer__logo
                    img(src="./img/logo-footer.svg" alt="manzana group" width="358" height="58")
                .footer__menu
                    a(href="#!") Главная
                    a(href="#!") Экспертиза
                    a(href="#!") Портфолио
            .footer__copyright © 2006–2025 Manzana Group
        .footer-bottom
            // CONTACTS
            ul.footer__contacts
                li
                   span Телефон:
                   a(href="tel:+78007750111").footer__contacts-tel 8(800)7750111
                li
                   span Почта:
                   a(href="mailto:welcome@manzanagroup.ru").footer__contacts-mail welcome@manzanagroup.ru
            .footer__block
                .footer__img
                    img(src="./img/footer-img.svg" alt="footer img" width="65" height="45")
                a(href="#!").footer__agreement Пользовательское соглашение
