// HEADER
header.header.none
   .container
      .header__inner
         // LOGO
         a(href="#!").header__logo
            img(src="./img/logo.svg" width="328" height="53" alt="manzana logo")
         .menu
            // NAV
            nav.nav
               ul.nav__list
                  li
                     a(href="#!") Направления
                  li
                     a(href="#!") Экспертиза
                  li
                     a(href="#!") Портфолио
            // CONTACTS
            ul.header__contacts
               li
                  span Телефон:
                  a(href="tel:+78007750111").header__contacts-tel 8 (800) 775 0111
               li
                  span Почта:
                  a(href="mailto:welcome@manzanagroup.ru").header__contacts-mail welcome@manzanagroup.ru
            .header__btn
               button.btn(data-modal-button="modal-call-form") Написать нам
         // BURGER
         button.menu-toggle
            span
   // OVERLAY
   .overlay
// MODAL
div(class="fade-block hidden" data-modal="modal-call-form" id="modal-call-form")
   .modal-window
      include ../blocks/call-form.pug


