// HERO
section.hero
    .container
        .hero-content
            // HERO TITLE
            .hero__title
                h1.headline Помогаем спорту
                    |
                    br
                    span стать лучше
            p.hero__text Cистема управления спортивными клубами, сооружениями и взаимоотношениями с болельщиками
            // DISCUSS BTN
            .hero__discuss
                button.btn-discuss(data-modal-button="modal-call-form")
                    .button-overlay
                    img(src="./img/hero/discuss-text.svg" alt="discuss project" width="142" height="143").btn-discuss__text
                    img(src="./img/hero/discuss-arrow.webp" srcset="./img/hero/discuss-arrow@2x.webp 2x" alt="discuss btn" width="72" height="73").btn-discuss__arrow
            .hero__images
                .hero__decor
                    img(src="./img/hero/ellipse.svg" width="1070" height="1070")
                .hero__gates
                    img(src="./img/hero/gates.webp" srcset="./img/hero/gates@2x.webp 2x" alt="gates" width="730" height="730")
                .hero__ball
                    img(src="./img/hero/green-ball.webp" srcset="./img/hero/green-ball@2x.webp 2x" alt="ball" width="450" height="450")
                img(src="./img/hero/puck.webp" srcset="./img/hero/puck@2x.webp 2x" alt="puck").hero__puck

