// HERO
section.hero
    .container
        h1.headline Помогаем спорту
            span стать лучше
        p Cистема управления спортивными клубами, сооружениями и взаимоотношениями с болельщиками
        .hero__discuss
            button.btn-discuss
                img(src="./img/discuss-text.svg" alt="обсудить проект")
                img(src="./img/discuss-arrow.svg" alt="обсудить проект").btn-discuss__arrow
