// INSTRUMENTS
section.instruments
    .container
        // INSTRUMENTS TOP
        .instruments__top
            .instruments__title
                h2.section-title Наши инструменты
            .instruments__btn
                button.btn-send(data-modal-button="modal-call-form") Отправить заявку
        // INSTRUMENTS LIST
        ul.instruments-list
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title CRM
                .instruments-list__logos
                    .instruments-list__logo
                        img(src="./img/instruments/soap.svg" alt="icon" width="83" height="55")
                        span SOAP
                    .instruments-list__logo
                        img(src="./img/instruments/rest.svg" alt="icon" width="56" height="56")
                        span REST
                    .instruments-list__logo
                        img(src="./img/instruments/net.svg" alt="icon" width="97" height="39")
                        span .Net
                    .instruments-list__logo
                        img(src="./img/instruments/sql.svg" alt="icon" width="51" height="55")
                        span Sql
                    .instruments-list__logo
                        img(src="./img/instruments/microsoft.svg" alt="icon" width="55" height="55")
                        span Microsoft
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title CDP
                .instruments-list__logos
                    .instruments-list__logo
                        img(src="./img/instruments/clickhouse.svg" alt="icon" width="63" height="55")
                        span Clickhouse
                    .instruments-list__logo
                        img(src="./img/instruments/kafka.svg" alt="icon" width="34" height="55")
                        span Kafka
                    .instruments-list__logo
                        img(src="./img/instruments/redis.svg" alt="icon" width="64" height="55")
                        span Redis
                    .instruments-list__logo
                        img(src="./img/instruments/materialize.svg" alt="icon" width="102" height="52")
                        span Materialize
                    .instruments-list__logo
                        img(src="./img/instruments/KSQL.svg" alt="icon" width="34" height="62")
                        span ksqlDB




