// INSTRUMENTS
section.instruments
    .container
        // INSTRUMENTS TOP
        .instruments__top
            .instruments__title
                h2.section-title Наши инструменты
            .instruments__btn
                button.btn-send(data-modal-button="modal-call-form") Отправить заявку
        // INSTRUMENTS LIST
        ul.instruments-list
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title CRM
                .instruments-list__logos
                    div(data-wow-delay="1s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/soap.svg" alt="icon" width="83" height="55")
                        span SOAP
                    div(data-wow-delay="1.2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/rest.svg" alt="icon" width="56" height="56")
                        span REST
                    div(data-wow-delay="1.4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/net.svg" alt="icon" width="97" height="39")
                        span .Net
                    div(data-wow-delay="1.6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/sql.svg" alt="icon" width="51" height="55")
                        span Sql
                    div(data-wow-delay="1.8s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/microsoft.svg" alt="icon" width="55" height="55")
                        span Microsoft
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title CDP
                .instruments-list__logos
                    div(data-wow-delay="2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/clickhouse.svg" alt="icon" width="63" height="55")
                        span Clickhouse
                    div(data-wow-delay="2.2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/kafka.svg" alt="icon" width="34" height="55")
                        span Kafka
                    div(data-wow-delay="2.4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/redis.svg" alt="icon" width="64" height="55")
                        span Redis
                    div(data-wow-delay="2.6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/materialize.svg" alt="icon" width="102" height="52")
                        span Materialize
                    div(data-wow-delay="2.8s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/KSQL.svg" alt="icon" width="34" height="62")
                        span ksqlDB
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title BI
                .instruments-list__logos
                    div(data-wow-delay="3s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/excel.svg" alt="icon" width="55" height="55")
                        span Excel
                    div(data-wow-delay="3.2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/apache.svg" alt="icon" width="95" height="47")
                        span Apache superset
                    div(data-wow-delay="3.4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/power.svg" alt="icon" width="53" height="55")
                        span Power BI
                    .div(data-wow-delay="3.6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/metabase.svg" alt="icon" width="51" height="66")
                        span Metabase
                    div(data-wow-delay="3.8s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/cube.svg" alt="icon" width="57" height="65")
                        span CubeJS
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title Mobile & web applications
                .instruments-list__logos
                    div(data-wow-delay="4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/kotlin.svg" alt="icon" width="55" height="55")
                        span Kotlin
                    div(data-wow-delay="4.2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/swift.svg" alt="icon" width="55" height="55")
                        span Swift
                    div(data-wow-delay="4.4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/flatter.svg" alt="icon" width="47" height="57")
                        span Flatter
                    div(data-wow-delay="4.6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/laravel.svg" alt="icon" width="53" height="55")
                        span Laravel
                    div(data-wow-delay="4.8s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/bitrix.svg" alt="icon" width="57" height="57")
                        span Битрикс24
            // INSTRUMENTS LIST ITEM
            li.instruments-list__item
                .instruments-list__title OMAP
                    p (Omnichannel Marketing Automation Platforms)
                .instruments-list__logos
                    div(data-wow-delay="5s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/go.svg" alt="icon" width="53" height="55")
                        span Go
                    div(data-wow-delay="5.2s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/mongo.svg" alt="icon" width="25" height="55")
                        span MongoDB
                    div(data-wow-delay="5.4s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/clickhouse.svg" alt="icon" width="64" height="55")
                        span Clickhouse
                    div(data-wow-delay="5.6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/airflow.svg" alt="icon" width="55" height="55")
                        span Apache Airflow
                    div(data-wow-delay="5.8s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/kafka.svg" alt="icon" width="34" height="55")
                        span Kafka
                    div(data-wow-delay="6s" class="instruments-list__logo wow animate__fadeInRight")
                        .instruments-list__img
                            img(src="./img/instruments/streams.svg" alt="icon" width="112" height="55")
                        span Kafka Streams
        .instruments__btn-mob
            button.btn-send(data-modal-button="modal-call-form") Отправить заявку




