//INTERFACE
section.interface
    .container
        .interface__top
            // INTERFACE TITLE
            .interface__title
                h2.section-title Интерфейс нашего продукта
            .interface__btns
                .interface-slider-controls
                    button.slider-prev#interface-slider-prev
                        svg.svg-prev
                            use(href="./img/spriteSvg.svg#svg-prev")
                    button.slider-next#interface-slider-next
                        svg.svg-next
                            use(href="./img/spriteSvg.svg#svg-next")
        // ===== INTERFACE SLIDER =====
        .interface-slider
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Клиентские профили
                        .interface-card__subtitle Сбор, хранение и систематизация данных клиентов в единой платформе
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Сегментация
                        .interface-card__subtitle Гибкая система фильтров по расширенным атрибутам контактов
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Триггерные сценарии
                        .interface-card__subtitle Настройка сценариев коммуникации любого уровня сложности для омникальных маркетинговых кампаний
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Механики с купонами
                        .interface-card__subtitle Выпуск уникальных и массовых промокодов с адаптивными условиями действия
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Рассылки
                        .interface-card__subtitle Маркетинговые рассылки, собираемые через встроенный редактор шаблонов
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")
            // ===== INTERFACE SLIDE =====
            .interface-slide
                .interface-card
                    .interface-card__top
                        .interface-card__title Программа лояльности
                        .interface-card__subtitle Настройка акционных правил программы лояльности со скидочными и бонусными механиками
                    .interface-card__img
                        img(src="./img/interface/interface03.svg" alt="img" width="783" height="405")
                    .zoom-icon
                        svg.svg-zoom
                            use(href="./img/spriteSvg.svg#svg-zoom")


