// ===== PARTNERS =====
section.partners.none
    .container
        .partners-wrapper
            // ===== PARTNERS TITLE =====
            .partners__title-wrapper
                h2.partners__title Нам доверяют
            // ===== PARTNERS SLIDER =====
            .partners-slider
                .partner-slide
                    img(src="./img/partners/partner01.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner02.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner03.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner04.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner05.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner06.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner07.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner08.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner09.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner10.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner11.svg" alt="logo img")
                .partner-slide
                    img(src="./img/partners/partner12.svg" alt="logo img")