// PLATFORM
section.platfrom
    .container
        .platform-content
            .platform__logo
                img(src="./img/platform/platform-logo.svg" alt="logo" width="523" height="129")
            // PLATFORM TITLE
            .platform__title
                h2.title Интеллектуальная платформа лояльности
            h3.platform__subtitle Помогаем строить персональные отношения с миллионами клиентов
            .platform__btn
                a(href="#!").btn-yellow Узнать больше
            .platform__img
                img(src="./img/platform/platform-bg.webp" srcset="./img/platform/platform-bg@2x.webp 2x" alt="background" width="906" height="563")
