// portfolio
section.portfolio
    .container
        .portfolio-content
            .portfolio__title
                h2.section-title.section-title--dark Портфолио
            .portfolio-wrapper
                .portfolio-box1
                    //portfolio-card
                    .portfolio-card.portfolio-card1
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title ФК "Факел"
                    .portfolio-col
                        .portfolio-row
                            //portfolio-card
                            .portfolio-card.portfolio-card2
                                .image-overlay
                                    .portfolio-card__btn
                                        a.btn-black Узнать больше
                                .portfolio-card__title ФК "Локомотив"
                            //portfolio-card
                            .portfolio-card.portfolio-card3
                                .image-overlay
                                    .portfolio-card__btn
                                        a.btn-black Узнать больше
                                .portfolio-card__title ФК "Зенит"
                        .portfolio-row
                            //portfolio-card
                            .portfolio-card.portfolio-card4
                                .image-overlay
                                    .portfolio-card__btn
                                        a.btn-black Узнать больше
                                .portfolio-card__title ФК "Спартак"
                            //portfolio-card
                            .portfolio-card.portfolio-card5
                                .image-overlay
                                    .portfolio-card__btn
                                        a.btn-black Узнать больше
                                .portfolio-card__title ХК "Салават Юлаев"
                .portfolio-box2
                    //portfolio-card
                    .portfolio-card.portfolio-card6
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title ХК "Сочи"
                    //portfolio-card
                    .portfolio-card.portfolio-card7
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title ФК "Динамо"
                .portfolio-box3
                    //portfolio-card
                    .portfolio-card.portfolio-card8
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title ХК "Барыс"
                    //portfolio-card
                    .portfolio-card.portfolio-card9
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title
                    //portfolio-card
                    .portfolio-card.portfolio-card10
                        .image-overlay
                            .portfolio-card__btn
                                a.btn-black Узнать больше
                        .portfolio-card__title ХК "Динамо"
            button.btn-show-more Смотреть все проекты


