// PRINCIPLES
section.principles
    .container
        .principles__top
            // PRINCIPLES TITLE
            .principles__title
                h2.section-title Принципы работы <br> над проектом
            // PRINCIPLES SUBTITLE
            .principles__subtitle
                p Качественный продукт – наш абсолютный приоритет
        .principles__row
            // PRINCIPLES IMAGES
            .principles__images
                div(class="principles__rocket wow animate__rotateInUpRight")
                    img(src="./img/principles/rocket.webp" srcset="./img/principles/rocket@2x.webp 2x" alt="rocket" width="217" height="265")
                .principles__project
                    img(src="./img/principles/project.webp" srcset="./img/principles/project@2x.webp 2x" alt="project" width="994" height="792").principles__project-img
                    img(src="./img/principles/project-mob.webp" srcset="./img/principles/project-mob@2x.webp 2x" alt="project" width="361" height="355").principles__project-img-mob
            // PRINCIPLES LIST
            .principles__col
                ul.principles-list
                    // PRINCIPLES LIST ITEM
                    li.principles-list__item
                        h3.principles-list__title Четкое <br> целеполагание
                        p Вместе ответим на главные вопросы: какие проблемы решает проект, какие инструменты есть в наличии, а какие нужно разработать, определим сроки реализации и критерии эффективности
                    // PRINCIPLES LIST ITEM
                    li.principles-list__item
                        h3.principles-list__title Прозрачная <br> разработка
                        p Подготовим план проекта, определим вехи, составим график работ и будем безапелляционно его придерживаться, предоставляя отчётность в нужном вам формате
                    // PRINCIPLES LIST ITEM
                    li.principles-list__item
                        h3.principles-list__title Комплексный <br> запуск
                        p Протестируем работоспособность продукта, обучим ключевых сотрудников заказчика и предложим full-time техническую поддержку


