section.principles
    .container
        .principles-top
            .principles__title
                h2.section-title Принципы работы над проектом
            .principles__subtitle
                p Качественный продукт – наш абсолютный приоритет