// REVIEWS
section.reviews.none
    .container
        .reviews-wrapper
            // REVIEWS TITLE
            h2.section-title.section-title--dark Что говорят наши клиенты
            // REVIEWS SLIDER BTNS
            .reviews-slider-controls
                button.slider-prev#reviews-slider-prev
                    svg.svg-prev
                        use(href="./img/spriteSvg.svg#svg-prev")
                button.slider-next#reviews-slider-next
                    svg.svg-next
                        use(href="./img/spriteSvg.svg#svg-next")
            // REVIEWS SLIDER
            .reviews-slider
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo01.svg" alt="logo" width="36" height="87")
                        .review-card__title ХК "Сочи"
                        .review-card__text
                            .scroll-wrapper
                                p Ценность программы лояльности для клуба заключается в получении информации о своих болельщиках и их потребностях для выстраивания эффективной маркетинговой деятельности.Внедрив решение Manzana Loyalty Sport, мы получили полный набор инструментов для интеллектуального маркетингового анализа клиентской базы. Например, мы используем RFM-анализ, сегментацию по дате последней покупки, соцдем-признакам и географии.Это дает нам возможность выстраивать эффективную систему массовых и целевых коммуникаций.
                                p Сегодня мы возлагаем большие надежды на систему управления программой лояльности как ключевую часть развития клуба.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo02.svg" alt="logo" width="36" height="87")
                        .review-card__title ФК «Динамо»
                        .review-card__text
                            .scroll-wrapper
                                p В «Динамо» во главу угла ставится не только достижение спортивных результатов, но и выстраивание эффективных бизнес-процессов, подразумевающих чёткую стратегию взаимодействия с окружающей средой: болельщиками, партнёрами и спонсорами. Для достижения высоких целей было важно привлечь компанию, обладающую передовой экспертизой в выстраивании комплексных решений в области больших данных. Именно поэтому - в 2019 году - выбор был сделан в пользу Manzana Sport.
                                p В числе неоспоримых конкурентных преимуществ Manzana необходимо выделить локальную техническую поддержку разработок, что критически важно в контексте защиты инвестиций, а также для ведения бесперебойной и планомерной работы по развитию бренда клуба в текущих реалиях.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo03.svg" alt="logo" width="36" height="87")
                        .review-card__title ФК «Локомотив»
                        .review-card__text
                            .scroll-wrapper
                                p Вместе с Manzana Sport нам удалось внедрить современную программу лояльности «Состав», интегрированную с надёжной CRM-системой, запустить новый интернет-магазин и единый личный кабинет.
                                p Мы работаем с коллегами уже 3 год и можем отметить их высокую степень заинтересованности в совместном развитии продуктов.
                                p Специалисты Manzana Sport оперативно оказывают необходимую техническую поддержку, предлагают актуальные рекомендации по управлению программой лояльности и реализуют новую функциональность по нашим запросам.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo04.svg" alt="logo" width="36" height="87")
                        .review-card__title ФК «Спартак»
                        .review-card__text
                            .scroll-wrapper
                                p Выбрать CRM-систему и партнера для ее запуска оказалось не такой простой задачей. Мы просмотрели несколько компаний и остановили свой выбор на Manzana Group. Нам показалось, что у специалистов Manzana Group достаточно опыта в сложных проектах, чтобы помочь нам решить наши задачи очень быстро и надежно. И по прошествии времени мы видим, что в своем выборе не ошиблись. Весь проект был реализован вовремя, и мы получили широкий инструментарий для работы с нашим фан-клубом и посетителями стадиона.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo05.svg" alt="logo" width="36" height="87")
                        .review-card__title ФК «Зенит»
                        .review-card__text
                            .scroll-wrapper
                                p Выбрать CRM-систему и партнера для ее запуска оказалось не такой простой задачей. Мы просмотрели несколько компаний и остановили свой выбор на Manzana Group. Нам показалось, что у специалистов Manzana Group достаточно опыта в сложных проектах, чтобы помочь нам решить наши задачи очень быстро и надежно. И по прошествии времени мы видим, что в своем выборе не ошиблись. Весь проект был реализован вовремя, и мы получили широкий инструментарий для работы с нашим фан-клубом и посетителями стадиона.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo06.svg" alt="logo" width="36" height="87")
                        .review-card__title ХК «Салават Юлаев»
                        .review-card__text
                            .scroll-wrapper
                                p Для того чтобы вывести уровень отношений с болельщиками на новый уровень, руководство хоккейного клуба «Салават Юлаев» в 2016 году приняло решение о запуске программы лояльности болельщиков на основе решения Manzana Loyalty Sport.
                                p Главной концепцией проекта стала цель - не ограничиваться предложением дисконтной программы «Карта Болельщика», а создать абсолютно новую информационную систему, в периметре которой болельщики будут взаимодействовать с билетной программой, магазинами атрибутики, точками общепита и интернет-магазином клуба.
                                p Особо требовательной аудиторией для любого клуба являются владельцы сезонных абонементов, верные болельщики, ожидающие взамен своей преданности, затратам времени и средств особое отношение со стороны клуба.
                                p Для них была разработана уникальная система поощрения посещаемости: самые верные болельщики, посещающие максимальное количество матчей всех категорий, получают от клуба наибольшую признательность. Данный подход лег в основу абонементной политики клуба на ближайшие сезоны.
                // REVIEWS SLIDE
                .reviews-slide
                    .review-card
                        .review-card__img
                            img(src="./img/reviews/logo07.svg" alt="logo" width="36" height="87")
                        .review-card__title ФК «Факел»
                        .review-card__text
                            .scroll-wrapper
                                p Развитие отношений с болельщиками и повышение лояльной аудитории – наш абсолютный приоритет.
                                p Мы рады предложить факелонам качественные продукты, разработанные совместно с Manzana Sport. Благодаря коллегам у нас появились полноценная CRM-система, новая программа лояльности, интернет-магазин и личный кабинет болельщика. Всё реализовано на высшем уровне, качественно и в срок. Дальше – больше.
            .reviews__img
                img(src="./img/intersect.svg" alt="logo" width="36" height="87")
