// RUNNING LINE
section.running-line
    // RUNNING LINE SLIDER
    .line-slider
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
        .line-slide
            .line-text Cпорт - часть большой семьи!
