// SERVICES
section.services.none
    .container
        .services-cards
            // service-card
            a(href="#!").service-card
                .fake-border
                .service-card__row
                    .service-card__img
                        svg.svg-cdp
                            use(href="./img/spriteSvg.svg#svg-cdp")
                    h3.service-card__title CDP-решения и программы лояльности
                .service-card__footer
                    .service-card__link Подробнее
            // service-card
            a(href="#!").service-card
                .fake-border
                .service-card__row
                    .service-card__img
                        svg.svg-web
                            use(href="./img/spriteSvg.svg#svg-web")
                    h3.service-card__title Мобильная и веб-разработка
                .service-card__footer
                    .service-card__link Подробнее
            // service-card
            a(href="#!").service-card
                .fake-border
                .service-card__row
                    .service-card__img
                        svg.svg-marketing
                            use(href="./img/spriteSvg.svg#svg-marketing")
                    h3.service-card__title Маркетинговая поддержка
                .service-card__footer
                    .service-card__link Подробнее
