@font-face {
  font-family: 'TT Norms';
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('../fonts/TTNorms-Bold.woff2') format('woff2');
font-weight: bold;
font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: local('TT Norms Light'), local('TTNorms-Light'),
      url('../fonts/TTNorms-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
      url('../fonts/TTNorms-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
      url('../fonts/TTNorms-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@function remy($pxsize) {
  @return calc(($pxsize/16))*1vw;
}

@function remy2($pxsize) {
  @return calc(($pxsize/3.75))*1vw;
}

* {
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: var(--font-main);
  padding: 0;
  width: 100%;

  -webkit-font-smoothing: antialiased;
}

.noscroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}

.hidden {
  display: none;
}

a {
  color: inherit;
  display: inline-block;
  transition: color 0.2s ease-in;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  padding: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 1023px) {
    padding: 0 20px;
  }
}

.headline {
  font-size: clamp(35px, 20.7px + 3.58vw, 78px);
  font-weight: 700;
  line-height: 0.9;
  color: var(--accent-green);

  @media (max-width: 767px) {
    line-height: 1.1;
  }

  span {
    color: var(--color-white);
  }
}

.section-title {
  font-weight: 500;
  font-size: clamp(30px, 16.7px + 3.33vw, 70px);
  line-height: 1;
  color: var(--color-white);

  @media (max-width: 767px) {
    line-height: 1.33;
  }
}

.section-title--dark {
  color: var(--prime-color);
}

.title {
  font-weight: 700;
  font-size: 57px;
  line-height: 1.14;
  color: var(--color-white);

  @media (max-width: 1599px) {
    font-size: remy(57);
  }

  @media(max-width: 767px) {
    font-size: 25px;
    line-height: 1.28;
  }
}

//modals

.fade-block {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.46);
}

.modal-window {
  padding: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.46);


  @media (max-width: 1023px) {
    padding: 60px;
  }

  @media (max-width: 575px) {
    padding: 15px;
  }
}

.btn-close-modal {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 77;

  @media (max-width: 1023px) {
    width: 17px;
    height: 17px;
    top: 17px;
    right: 17px;

    .svg-close {
      width: 17px;
      height: 17px;
    }
  }
}




