.svg-cdp {
    width: 53px;
    height: 52px;

    @media(max-width: 1599px) {
        width: remy(53);
        height: remy(52);
    }

    @media (max-width: 767px) {
        width: 42px;
        height: 39px;
    }

    @media (max-width: 374px) {
        width: remy2(42);
        height: remy2(39);
    }
}

.svg-web {
    width: 65px;
    height: 67px;

    @media(max-width: 1599px) {
        width: remy(65);
        height: remy(67);
    }

    @media (max-width: 767px) {
        width: 42px;
        height: 39px;
    }

    @media (max-width: 374px) {
        width: remy2(42);
        height: remy2(39);
    }
}

.svg-marketing {
    width: 78px;
    height: 81px;

    @media(max-width: 1599px) {
        width: remy(78);
        height: remy(81);
    }

    @media (max-width: 767px) {
        width: 48px;
        height: 46px;
    }

    @media (max-width: 374px) {
        width: remy2(48);
        height: remy2(46);
    }
}

.svg-close {
    width: 25px;
    height: 25px;
}


