.svg-cdp {
    width: 53px;
    height: 52px;

    @media (max-width: 767px) {
        width: 42px;
        height: 39px;
    }
}

.svg-web {
    width: 65px;
    height: 67px;

    @media (max-width: 767px) {
        width: 42px;
        height: 39px;
    }
}

.svg-marketing {
    width: 78px;
    height: 81px;

    @media (max-width: 767px) {
        width: 48px;
        height: 46px;
    }
}


