:root {
	--container-width: 1430px;

	--font-main: "TT Norms", sans-serif;

	--prime-color: #000;
	--second-color: #171717;
	--color-white: #fff;
	--color-grey: #676e7c;

	--accent-red: #fe3f44;
	--accent-green: #78be20;
	--accent-yellow: #ffc700;

	--gradient: linear-gradient(180deg, #00B09B 0%, #96C93D 100%);
}