.btn {
    display: inline-block;
    width: 216px;
    height: 41px;
    padding: 0 43px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-red);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 41px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #fe3f44, $amount: 5%);
    }

    @media (max-width: 1599px) {
        width: remy(216);
        height: remy(41);
        padding: 0 remy(43);

        border-radius: remy(50);
        font-size: remy(20);
        line-height: remy(41);
    }

    @media (max-width: 1023px) {
        width: 168px;
        height: 40px;
        font-size: 16px;
        border-radius: 50px;
        padding: 0 25px;
        line-height: 40px;
    }
}

.btn-black {
    display: inline-block;
    height: 60px;
    min-width: 310px;

    border-radius: 60px;
    border: none;

    background-color: var(--prime-color);

    color: #e8e9ee;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #000, $amount: 15%);
    }

    @media (max-width: 767px) {
        height: 55px;
        font-size: 18px;
        line-height: 55px;
        color: #e8e9ee;
    }
}

.btn-show-more {
    display: inline-block;
    height: 60px;
    width: 100%;

    border-radius: 60px;
    border: none;

    background-color: var(--prime-color);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #000, $amount: 15%);
    }

    @media (max-width: 767px) {
        height: 55px;
        font-size: 18px;
        line-height: 55px;
        color: #e8e9ee;
    }
}

.btn-send {
    display: inline-block;
    width: 327px;
    height: 60px;
    padding: 0 59px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-red);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #fe3f44, $amount: 5%);
    }

    @media (max-width: 1599px) {
        width: remy(327);
        height: remy(60);
        padding: 0 remy(59);

        border-radius: remy(50);
        font-size: remy(25);
        line-height: remy(60);
    }

    @media (max-width: 767px) {
        width: 335px;
        height: 55px;
        line-height: 55px;
        font-size: 18px;
        border-radius: 60px;
        padding-inline: 36px;
    }

    @media (max-width: 374px) {
        width: remy2(335);
        height: remy2(55);
        line-height: remy2(55);
        font-size: remy2(18);
        border-radius: remy2(60);
        padding-inline: remy(36);
    }
}