.btn {
    display: inline-block;
    min-width: 216px;

    padding: 0 43px;
    height: 41px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-red);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 41px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #fe3f44, $amount: 5%);;
    }
}

.btn-black {
    display: inline-block;
    height: 60px;
    min-width: 310px;

    border-radius: 60px;
    border: none;

    background-color: var(--prime-color);

    color: #e8e9ee;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #000, $amount: 15%);;
    }

    @media (max-width: 767px) {
        height: 55px;
        font-size: 18px;
        line-height: 55px;
        color: #e8e9ee;
    }
}

.btn-show-more {
    display: inline-block;
    height: 60px;
    width: 100%;

    border-radius: 60px;
    border: none;

    background-color: var(--prime-color);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #000, $amount: 15%);;
    }

    @media (max-width: 767px) {
        height: 55px;
        font-size: 18px;
        line-height: 55px;
        color: #e8e9ee;
    }
}