/*========GAMBURGER======*/

.menu-toggle {
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    flex-shrink: 0;
    background-color: transparent;

    @media (max-width: 1023px) {
        display: flex;
    }
  }

.menu-toggle span {
  position: relative;
  height: 3px;
  width: 27px;
  background-color: var(--prime-color);
  border-radius: 1px;
}

.menu-toggle span::after,
.menu-toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: var(--prime-color);
  right: 0;
  border-radius: 1px;
  transition: 0.2s;
}

.menu-toggle span::after {
  top: -9px;
}

.menu-toggle span:before {
  bottom: -9px;
}

.menu-toggle.active span {
  background-color: transparent !important;
}

.menu-toggle.active span::after {
  top: 0px;
  transform: rotate(45deg);
}

.menu-toggle.active span::before {
  bottom: 0px;
  transform: rotate(-45deg);
}

