.call-form-block  {
    position: relative;
    width: 50%;
    max-width: 742px;
    background-color: #fff;
    border-radius: 30px;
    padding: 38px 28px;

    .form-input {
        width: 100%;
        max-width: unset;
    }

    @media (max-width: 1023px) {
        width: 346px;
    }
}

.call-form-block {
    .form-item-mb15 {
        margin-bottom: 15px;
    }

    .form-item-mb25 {
        margin-bottom: 25px;
    }
}

.call-form-block .form-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 65px;
    line-height: 1;
    margin-inline: auto;
    text-align: center;
    color: #000;

    @media (max-width: 1023px) {
        width: 211px;
    }
}

.call-form-subtitle {
    max-width: 486px;
    font-size: 25px;
    line-height: 1.35;
    letter-spacing: -0.03em;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 25px;
    color: #000;
}

.call-form-privacy {
    font-size: 15px;
    line-height: 1.35;
    letter-spacing: -0.03em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
}

.form-input {
    display: block;
    width: 100%;
    max-width: 685px;
    height: 60px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 16px 25px;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: -0.03em;
    color: #000;
}

.form-input::placeholder {
    color: #b5b5b5;
}

.form-input:focus {
    border: 1px solid #01203c;
    background-color: #fff;
}

.form-input.form-input--textarea {
    height: 155px!important;
}

.call-form-block .btn-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 77;

    // @media (max-width: 550px) {
    //     top: -40px;
    //     right: 20px;
    // }
}

.form-item.form-item-btn {
    display: flex;
    justify-content: center;
}

.submit-btn {
    display: inline-block;
    max-width: 327px;
    height: 60px;
    padding: 0 56px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-red);

    color: var(--color-white);
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #fe3f44, $amount: 5%);;
    }
}

/*========CHECKBOX======*/

.checkbox {
    display: flex;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.real-checkbox:focus+.custom-checkbox {
    background-color: #fff;
    border: 1px solid #000;
}

// активация декоративного чекбокса
.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:checked+.custom-checkbox {
    background-color: #fff;
    border: 1px solid #000;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #d9d9d9;
    margin-right: 10px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 10px;
    background-image: url("./../img/icons/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    transition: 0.2s ease-in;
}

