extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main
		include ../sections/hero.pug
		include ../sections/partners.pug
		include ../sections/services.pug
		include ../sections/about.pug
		include ../sections/advantages.pug
		include ../sections/portfolio.pug
		include ../sections/principles.pug
		include ../sections/catalog.pug
		include ../sections/instruments.pug
		include ../sections/interface.pug
		include ../sections/reviews.pug
		include ../sections/running-line.pug
		include ../sections/platform.pug
		include ../sections/contact.pug
	include ../sections/footer.pug





